<%- include('../../partials/header.ejs');%>
<%- include('../../partials/homenavbar.ejs');%>
<body>
    
    <div class="container">
          <br>
        <%result.articles.rows.forEach(articles =>{%>
           <div class="card">
               <div class="card-header">
                    <h2><%=articles.title%></h2>
               </div>
               <div class="card-body">
                    <a class="btn btn-primary" href="/<%= articles.slug %>">Ler artigo</a>
               </div>
           </div>
           <br>
        <%})%>
        <nav aria-label="Navegação de página exemplo">
            <ul class="pagination">
                <%if(num == 1){%>
                    <li class="page-item disabled"><span class="page-link ">Anterior</span></li>
                <%}else{%>
                    <li class="page-item"><a class="page-link" href="/articles/page/<%= num -1 %>">Anterior</a></li>
                <%}%>
              <% for (i = 0; i < paginas; i++){%>
                <% if(num == i+1){%>
                    <li class="page-item active"><a class="page-link" href="/articles/page/<%= i+ 1 %>"><%= i +1%></a></li>
                <%}else{%>
              <li class="page-item"><a class="page-link" href="/articles/page/<%= i+ 1 %>"><%= i +1%></a></li>
                <%}%>
              <%}%>
              <%if (num +1 > paginas){%>
                <li class="page-item disabled"><span class="page-link ">Próximo</span></li>
              <%}else{%>
                <li class="page-item"><a class="page-link" href="/articles/page/<%= num +1 %>">Próximo</a></li>
              <%}%>  
            </ul>
          </nav>
    </div>
    
</body>
<%- include('../../partials/footer.ejs');%>
